{{block "qmint_duidie_zx" .}}
<div id="main{{.Xuhao}}" style="height:3000px;"></div>
<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('main{{.Xuhao}}', null, { renderer: 'svg' }));

  // 指定图表的配置项和数据
  var option = {
    title: {
      text: '{{if eq .EqNum 0}}设备任意{{else}}设备{{.EqNum}}{{end}}',
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        show: true,
        type: 'cross',
        crossStyle: {
            color: '#ff0606'
        },
     },
    },
    legend: {
      data: [{{range $el := .Legends}} "{{$el}}", {{end}}],
      selected:{ {{range $el := .Legends}} "{{$el}}":true, {{end}} },
      selectedMode: true,
      top: "5%",
  },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    toolbox: {
      feature: {
        dataZoom:{
          show: true
        },
        saveAsImage: {
            type: "png"
        }
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: [{{range $element := .X}}"{{$element}}",{{end}}],
      axisLabel: {
          rotate: 60
      }
    },
    yAxis: {
      type: 'value',
      nameLocation: "middle",
      // interval: {{.Interval}},
      startValue: 0,
      axisLine: {
        symbol: 'none',
        show: true,
        lineStyle: {
            type: 'dashed',
            dashOffset: 20
            // ...
        }
       },
       axisTick: {
          show: true,
          length: 6,
          interval: 2,
          lineStyle: {
            type: 'dashed'
                // ...
          }
       }
       // axisLabel:{
       //    show: true
       // },
       // minorSplitLine:{
       //    show: true,
       //        lineStyle: {
       //         width: 2,
       //         color: "#eee",
       //             type: "dashed"
       //     }
       // }
    },
    series: [
      {{range $idx, $element := .Legends}}
      {
          name: '{{$element}}',
          type: 'line',
          smooth: true,
          // stack: 'Total',
          data: [{{range $element2 := (index $.Ys $idx)}}"{{$element2}}", {{end}}]
      },
      {{end}}
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
</script>
{{end}}